<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
    <script src="./js/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>登录/注册</h1>
    <form v-if="isLogin" @submit.prevent="login">
        <label>
            用户名：
            <input type="text" v-model="loginForm.username">
        </label>
        <label>
            密码：
            <input type="password" v-model="loginForm.password">
        </label>
        <button type="submit">登录</button>
        <button type="button" @click="switchMode">注册</button>
    </form>
    <form v-else @submit.prevent="register">
        <label>
            用户名：
            <input type="text" v-model="registerForm.username">
        </label>
        <label>
            密码：
            <input type="password" v-model="registerForm.password">
        </label>
        <label>
            确认密码：
            <input type="password" v-model="registerForm.confirmPassword">
        </label>
        <button type="submit">注册</button>
        <button type="button" @click="switchMode">返回登录</button>
    </form>
</div>
<script>
    Vue.config.productionTip = false //阻止Vue生产提示
    new Vue({
        el: '#app',
        data: {
            isLogin: true,
            loginForm: {
                username: '',
                password: '',
            },
            registerForm: {
                username: '',
                password: '',
                confirmPassword: '',
            },
        },
        methods: {
            switchMode() {
                this.isLogin = !this.isLogin;
            },
            login() {
                // 在这里发送登录请求
                console.log('登录信息：', this.loginForm);
            },
            register() {
                // 在这里发送注册请求
                console.log('注册信息：', this.registerForm);
            },
        },
    });
</script>


</body>
</html>
